.button {
	display         : inline-flex;
	align-items     : center;
	justify-content : center;
	gap             : 8px;
	min-height      : var(--button-min-height-lg);
	padding         : 0 38px;
	border-radius   : var(--radius-pill);
	border          : 1px solid transparent;
	transition      : 0.2s ease;
	color           : var(--color-bg-light);
	background      : var(--color-brown-main);
	text-decoration : none;
}

	.button.button-primary {
		background : var(--color-brown-main);
	}

	.button.button-secondary {
		background   : transparent;
		border-color : var(--color-bg-light);
	}

@media (max-width : 980px) {
	.button {
		width           : 100%;
		justify-content : center;
	}
}

@media (max-width : 640px) {
	.button {
		min-height : 54px;
		padding    : 0 22px;
	}
}
