*,
*::before,
*::after {
	box-sizing : border-box;
}

html {
	scroll-behavior : smooth;
}

body {
	margin      : 0;
	background  : var(--color-bg-main);
}

img {
	display   : block;
	max-width : 100%;
}

a {
	text-decoration : none;
}
