*,
*::before,
*::after {
	box-sizing : border-box;
}

html {
	scroll-behavior : smooth;
}

body {
	margin      : 0;
	background  : var(--color-bg-main);
	color       : var(--color-text-primary);
	font-family : var(--font-body);
	line-height : var(--line-height-body);
}

img {
	display   : block;
	max-width : 100%;
}

a {
	color           : inherit;
	text-decoration : none;
}
